

<div class="container-fluid mt-5 ">

<h1 class="text-dark p-2">Products List</h1>


    <div  class="container d-flex flex-lg-row flex-column w-auto ms-auto" >
      <div class="card-sl col-lg-4 col-12 m-2"  *ngFor="let product of products"  >
        <div >
        <div class="card-heading" >
        <h3 class=""> {{product.name}} & {{product.name}} Pro Max</h3>
        </div>
        <div class="card-image col-8 mx-auto"  >

          <img [src]="[product.variants[0].images]" class="" alt="">
        </div>

        <a class="card-action "   [routerLink]="['/productDetails', product.name]"><i class="bi bi-heart"></i></a>
       <div class="p-2 col-11 d-flex justify-content-between mt-3 mb-0">
          <div class="align-content-center ">
         <p class="mb-0">Starting from {{product.variants[0].memory[0].price}} DH</p></div>
         <div>
         <a  class="btn btn-primary p-2 card-button border-0" [routerLink]="['/productDetails', product.name]"> buy now</a></div>
       </div>


      </div>
    </div>

    </div>


</div>
